@import '../../config';

.main_container{
    padding-bottom: 70px;
    align-items: center;
    justify-content: center;
    //padding-left: 10%;
}

.row_container{
    max-width: 330px;
    text-align: left;
    word-wrap: break-word;
    //padding-left: 10%;
}
.row_container_title{
    max-width: 330px;
    font-size: 1.5em;
    text-align: left;
    word-wrap: break-word;
    //padding-left: 10%;
}

.col_container{
    padding-top: 10px;
    position: absolute;
    left: 15px;
}

.img_container{
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 3%;
    border: 1px solid black;
    border-radius: 10%;
}
.img_row{
    //margin-left: -15px;
   // margin-right: 50px;
}

@media (max-width: 600px) {
    .img_container{
        width: 210px;
        height: 140px;
        background-color: white;
        padding: 3%;
        border: 1px solid black;
        border-radius: 10%;
    }
    .row_container{
        max-width: 240px;
        text-align: left;
        word-wrap: break-word;
    }
    .row_container_title{
        max-width: 240px;
        font-size: 1.5em;
        text-align: left;
        word-wrap: break-word;
    }
}