@import '../../config';

.main_container{
    padding-bottom: 5%;
    padding-left: 10%;
}

.row_container{
    max-width: 300px;
    text-align: left;
    word-wrap: break-word;
    padding-left: 10%;
}
.row_container_title{
    max-width: 300px;
    font-size: 1.5em;
    text-align: left;
    word-wrap: break-word;
    padding-left: 10%;
}

.col_container{
    padding-left: 10%;
}

.img_container{
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 3%;
    border: 1px solid black;
    border-radius: 10%;
}

@media (max-width: 600px) {
    .img_container{
        width: 210px;
        height: 140px;
        background-color: white;
        padding: 3%;
        border: 1px solid black;
        border-radius: 10%;
    }
    .row_container{
        max-width: 210px;
        text-align: left;
        word-wrap: break-word;
        padding-left: 10%;
    }
    .row_container_title{
        max-width: 210px;
        font-size: 1.5em;
        text-align: left;
        word-wrap: break-word;
        padding-left: 10%;
    }
    .col_container{
        padding-left: 10%;
        padding-top: 3%;
        padding-bottom: 5%;
    }
}