@import '../../config';

.tasks_container{
    padding-top: 3%;
    background-color: whitesmoke;
}
.task_container{
    margin: auto;
    padding: 3%;
    //padding-right: 10%;
    //min-width: 80%;
}