@import '../../config';

.goal_img_container{
    text-align: center;
    border: 1px solid black;
    padding: 0.3em;
    width: 4em;
    height: 4em;
}
.goal_title_container{
    text-align: center;
}
.goal{
    min-width:100%;
    text-align: "center";
    margin: 1px;
}
.goal_row{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;
}