.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-size: cover;
  background-color: transparent;
  background-position: 30% 70%;
  background-image: url("https://res.cloudinary.com/dusj3d8bs/image/upload/v1573316672/IMG_0063.jpg");
  
  padding-top: 450px;
  padding-bottom: 350px;
   
    
}
.text {
  font-size: 2em;

}

.App-link {
  color: #09d3ac;
}
