@import '../../config';

.main_goal_container{
    padding-top: calc(3% + .5em);
    padding-bottom: calc(3% + .5em);
}

.goal_paragraph{
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
}

.Goal_container{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}