@import '../../config';

.main_goal_container{
    padding: calc(3% + .5em);
}

.goal_paragraph{
    text-align: left;
    min-width: fill-available;
    padding-left: calc(10% + 1.2em);
    padding-right: calc(10% + 1.2em);
    padding-bottom: 3% ;
}

.Goal_container{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}